@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

#footer .footer-top {
    background-color: #f05136;
    background: #555;
    padding: 60px 0 30px 0;
    font-family: "Montserrat", sans-serif;
}

#footer .footer-top .footer-logo {
    margin-bottom: 30px;
}

#footer .footer-top .footer-logo img {
    border-radius: 30%;
    align-content: center;
    color: white;
}

#footer .footer-top .footer-logo p {
    margin-left: 0px;
    padding: 20px;
    color: white;
    font-family: "Montserrat", sans-serif;
}

#footer .footer-top .social-links-footer a {
    font-size: 18px;
    display: inline-block;
    background: white;
    color: black;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links-footer a:hover {
    background: #18d26e;
    color: #fff;
}

#footer .footer-top h4 {
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top h4::before,
#footer .footer-top h4::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
}

#footer .footer-top h4::before {
    right: 0;
    background: white;
}

#footer .footer-top h4::after {
    background: #f05136;
    width: 50px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 8px;
    color: #ddd;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
}

#footer .footer-top .footer-links ul li a {
    text-decoration: none;
    color: white;
}

#footer .footer-top .footer-contact,
#footer .footer-top .footer-links {
    margin-bottom: 50px;
}

#footer .footer-top .footer-contact p {
    line-height: 30px;
    padding-top: 10px;
    color: white;
}

.credits {
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.locate {
    padding-top: 16px;
}

.line-footer {
    margin-left: 150px;
    margin-right: 150px;
    background-color: white;
}

@media (max-width: 420px) {
    .line-footer {
        margin-left: 20px;
        margin-right: 20px;
    }
}